# --- 用户专属配置（必须忽略，否则会互相覆盖调试器/界面设置）---

*.uvoptx
# 调试器配置、断点、书签
*.uvguix.*
# IDE 界面布局
.vscode/
# VSCode 配置文件夹


# --- 编译产物（可完全由源码生成，忽略可大幅减小仓库体积）---

*.o
# 目标文件
*.axf
# 调试文件（通常很大）
*.hex
# 烧录文件
*.bin
# 二进制烧录文件
*.map
# 内存映射文件
*.lst
# 列表文件
*.crf
# 交叉引用文件
*.d
# 依赖文件


# --- 默认输出目录（Keil 通常生成这些文件夹）---

**/Objects/
# 编译中间文件目录
**/Listings/
# 列表文件目录
MDK-ARM/
# 部分工程默认输出目录


# --- 调试器与临时文件---

*.jlink
# J-Link 配置
*.ini
# 调试初始化脚本（可能含本地路径）
*.log
# 编译日志
*.bak
# 备份文件


# 新增规则
*.scvd          
# EventRecorder 生成的调试文件
*.lnp           
# 链接器临时文件
*.dep           
# 依赖文件
*.htm           
# 编译报告（包括 .build_log.htm）
**/Output/      
# Keil 默认输出目录（如果存在）